<div style="min-height: calc(100vh - 860px);">
    <img src="/form.php" style="position: absolute; opacity: 0; pointer-events: none;" />
    <form id="contactform" class="form" method="POST">
        {{ .action }}
        {{- range .fields -}}
            {{- if eq .input_type `textarea` -}}
                <div>
                    <label class="inborder{{ if eq $.placeholders true }} sr-only{{ end }}" for="{{ .name }}">{{ .placeholder }}</label>
                    <textarea name="{{ .name }}" name="{{ .name }}" value="111" id="{{ .name }}" cols="30" rows="10" class="form-control" {{ if eq $.placeholders true }}placeholder="{{ .placeholder }}"{{ end }} required></textarea>
                </div>
            {{- else if eq .input_type `radio` -}}
                <div class="radio">
                    <label><input type="radio" name="{{ .name }}" value="{{ .placeholder }}" required>{{ .placeholder }}</label>
                </div>
            {{- else if eq .input_type `checkbox` -}}
                <div class="checkbox">
                    <label><input type="checkbox" name="{{ .name }}" value="{{ .placeholder }}" required>{{ .placeholder | safeHTML }}</label>
                </div>
            {{- else if eq .input_type `file` -}}
            <div class="file">
                <button type="button">{{ .placeholder | safeHTML }}</button>
                <input type="file" class="file-upload-input" onchange="uploadFile(this)" required/>
            </div>
            {{- else if eq .input_type `html` -}}
                {{ .placeholder | safeHTML }}
            {{- else if eq .input_type `submit` -}}
                <div class="submit" onclick="window.open(`mailto:{{.action}}?subject=${document.getElementById('subject').value}&body=${document.getElementById('body').value}`)">
                    <div><input type="{{ .input_type }}" value="{{ .placeholder }}" class="button" /></div>
                </div>
            {{- else -}}
                <div>
                    <label class="inborder{{ if eq $.placeholders true }} sr-only{{ end }}" for="{{ .name }}">{{ .placeholder }}</label>
                    <input type="{{ .input_type }}" name="{{ .name }}" id="{{ .name }}" class="form-control" {{ if eq $.placeholders true }}placeholder="{{ .placeholder }}"{{ end }} required>
                </div>
            {{- end -}}
        {{- end -}}
    </form>
    <a href="mailto:yy@imooc.com?cc=tj_ws@163.com&bcc=tj_ws@161.com;tj_ws@162.com&subject=观了不起的盖茨比有感&body=你好，对此评论有些想法">对此影评有何感想，发送邮件给我</a>
</div>